/*
***********
HERO HEADER 
***********
*/

h1 {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
    max-width: 1000px;
}
.header_hero {
    padding: 0 12%;
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    background: url('/gradient.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}
.header_hero p span {
    font-size: 24px;
}
.header_hero p {
    max-width: 900px;
}
.hero_describe {
    margin-bottom: 40px;
}
.hero_cta {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hero_cta > div  {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
}

/*
***********
HERO TEXT 
***********
*/

.hero_txt {
    padding: 0 12%;
    p {
        font-size: 2rem;
        line-height: 3rem;
        padding: 0 20%;
    }
}


/*
***********
HERO TITLE
***********
*/
.hero_title {
    padding: 80px 12% 0px 12%;
    h2 {
        font-size: 3rem;
        margin: 0;
    }
}