header {
    .header_title{
        a {
            color:#000;
            text-decoration:none;
        }
    }
    padding: 30px 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-size: 2rem;
    }
    nav {
        ul {
            list-style: none;
            display: inline-flex;
            gap: 20px;
            font-size: 20px;
            li {
                display: flex;
                align-items: center;
                a {
                    text-decoration: none;
                    color: #000;
                }
            }
            li:not(:last-child):after {
                content: "●";
                padding-left: 20px;
                font-size: 8px;
                display: inline-block;
            }
        }
    }
}

.ctalink {
    a {
        color: #000;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 2px solid #000;
    }
}

