---
import HeroHeader from '../components/Hero/HeroHeader';
import HeroText from '../components/Hero/HeroText';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tristan Tornatore - Freelance développeur web">
	<main>
		<HeroHeader 
			title="Créez plus de valeur avec vos actions sur le web"
			ctaBtn="Proposer un projet"
			references={true}
		/>
		<HeroText />
	</main>
</Layout>

<style>
	main {
		padding: 0 12%;
	}
</style>
